In [128]:
import math
import pandas as pd
import matplotlib.pyplot as plt

In [129]:
import sys
sys.setrecursionlimit(10000)  # Aumente o limite para um valor adequado

# Credit score

In [130]:
# Função sigmoid
def sigma(x):
    return 1 / (1 + math.exp(-x))

In [131]:
# Derivada da função sigmoid
def sigma_derivada(x):
    return sigma(x) * (1 - sigma(x))

In [132]:
# Cálculo das derivadas parciais
def grad(w1, w2, b1, b2, dataset):
    dedw1 = 0
    dedw2 = 0
    dedb1 = 0
    dedb2 = 0

    for i in train.index:
        x = train['Home Ownership'][i]
        y = train['Credit Score'][i]
        
        z1 = w1 * x + b1
        a1 = sigma(z1)
        z2 = w2 * a1 + b2
        a2 = sigma(z2)

        # Derivada do erro em relação a W1
        dedw1 += (a2 - y) * sigma_derivada(z2) * w2 * sigma_derivada(z1) * x

        # Derivada do erro em relação a W2
        dedw2 += (a2 - y) * sigma_derivada(z2) * a1

        # Derivada do erro em relação a B1
        dedb1 += (a2 - y) * sigma_derivada(z2) * w2 * sigma_derivada(z1)

        # Derivada do erro em relação a B2
        dedb2 += (a2 - y) * sigma_derivada(z2)

    return dedw1, dedw2, dedb1, dedb2

In [133]:
# Descida do gradiente
def descent(w1, w2, b1, b2, dataset):
    lr = 0.1
    err = 1
    i = 0
    tol = 10 **(-4)
    while err >= tol:
        dedw1, dedw2, dedb1, dedb2 = grad(w1, w2, b1, b2, dataset)
        
        w1_novo = w1 - lr * dedw1
        w2_novo = w2 - lr * dedw2
        b1_novo = b1 - lr * dedb1
        b2_novo = b2 - lr * dedb2
        
        err = math.sqrt((w1_novo - w1) ** 2 + (w2_novo - w2) ** 2 + (b1_novo - b1) ** 2 + (b2_novo - b2) ** 2)
        
        w1 = w1_novo
        w2 = w2_novo
        b1 = b1_novo
        b2 = b2_novo
        
        i += 1
        #print(i)
    
    return w1, w2, b1, b2, i

## Dados
1 - High

0 - Low

In [134]:
df_home_ownership = pd.read_csv('df_home_ownership.csv')
df_home_ownership = df_home_ownership.drop("Unnamed: 0", axis=1)

In [135]:
df_home_ownership['Home Ownership'].value_counts()

1    109
0     19
Name: Home Ownership, dtype: int64

In [136]:
df_has_home_ownership = df_home_ownership[df_home_ownership['Home Ownership'] == 1]
df_has_home_ownership

     Home Ownership  Credit Score
1                 1             1
2                 1             1
3                 1             1
4                 1             1
5                 1             1
..              ...           ...
122               1             1
123               1             1
125               1             1
126               1             1
127               1             1

[109 rows x 2 columns]

Todos que tem casa própria tem um Credit Score alto.

## Definindo função score

In [137]:
def score(n):
  if n == 1:
    return 1
  else:
    return 0

## Separando o x e o y de treino e teste

In [138]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(df_home_ownership['Home Ownership'], df_home_ownership['Credit Score'], test_size=0.3)

## Dados de treino

In [139]:
train = pd.DataFrame([x_train, y_train])
train = train.T
train

    Home Ownership  Credit Score
21               1             1
0                0             1
26               1             1
83               0             0
3                1             1
..             ...           ...
87               1             1
92               1             1
71               1             1
82               1             1
57               1             1

[89 rows x 2 columns]

## Dados de teste

In [140]:
test = pd.DataFrame([x_test, y_test])
test = test.T
test

     Home Ownership  Credit Score
109               1             1
23                1             1
88                0             0
22                1             1
37                1             1
52                1             1
1                 1             1
80                1             1
53                1             1
30                1             1
74                1             1
69                1             1
96                1             1
101               1             1
95                1             1
56                1             1
66                1             1
59                1             1
15                0             0
44                1             1
39                1             1
117               1             1
9                 1             1
36                1             1
4                 1             1
25                1             1
118               1             1
62                1             1
20                0             0
34                1             1
5                 1             1
12                1             1
86                1             1
122               1             1
106               1             1
115               1             1
114               0             0
77                1             1
51                1             1

## Calculando o w1, w2, b1, b2 dos dados de treino

In [141]:
w1, w2, b1, b2, i = descent(0, 0, 0, 0, train)
print("w1", w1)
print("w2",w2)
print("b2", b1)
print("b2",b2)
print("passos",i)

w1 5.45110104611219
w2 7.53443842293588
b2 -2.5061143888074326
b2 -1.5781412857911643
passos 5604

In [142]:
#xi = valor do input
#xs = lista com w1, w2, b1, b2
def predict(xi, xs):
    w1 = xs[0]
    w2 = xs[1]
    b1 = xs[2]
    b2 = xs[3]
    return sigma(w2 * sigma(w1 * xi + b1) + b2) # função sigma = 1/(1+math.exp(-x))

In [143]:
# vetor gradiente do copo
# (2x, 2y)
def gradcopo(xs):
    return [2 * xs[0], 2 * xs[1]] # (2*w1, 2*w2)

In [144]:
def neural(ts, xs):
    w1 = xs[0]
    w2 = xs[1]
    b1 = xs[2]
    b2 = xs[3]
    
    def f(xi):
        return sigma(w2 * sigma(w1 * xi + b1) + b2)
    
    dedw1 = sum(
        [-(y - f(x)) * f(x) * (1 - f(x)) * w2 * sigma(w1 * x + b1) * (1 - sigma(w1 * x + b1)) * x
        for i in train.index
        for x, y in [(train['Home Ownership'][i], train['Credit Score'][i])]]
    )
    dedw2 = sum(
      [-(y - f(x) ) * f(x) * (1 - f(x)) * sigma(w1 * x + b1)
      for i in train.index
      for x, y in [(train['Home Ownership'][i], train['Credit Score'][i])]]
    )

    dedb1 = sum(
        [-(y - f(x)) * f(x) * (1 - f(x)) * w2 * sigma(w1 * x + b1) * (1 - sigma(w1 * x + b1))
         for i in train.index
         for x, y in [(train['Home Ownership'][i], train['Credit Score'][i])]]
    )
    dedb2 = sum(
        [-(y - f(x)) * f(x) * (1 - f(x))
         for i in train.index
         for x, y in [(train['Home Ownership'][i], train['Credit Score'][i])]]
    )
    
    return [dedw1, dedw2, dedb1, dedb2]

In [145]:
def descentV(grad, lr, i, err, xts):
    tol = 10 ** (-6)
    print(f"Valores iniciais de xts: {xts}")
    while err >= tol:
        dfdxs = grad(xts)
        xsnovo = [xt - lr * grad for (xt, grad) in zip(xts, dfdxs)]
        errnovo = sum([(xnovo - xt) ** 2 for (xnovo, xt) in zip(xsnovo, xts)])
        xts = xsnovo
        i += 1
        err = errnovo
        #print(f"Erro: {errnovo}, dfdxs {dfdxs}, xts: {xsnovo}, i: {i}")
    return xts, i

In [146]:
#tc = [(float(n) / 100, func(n)) for n in range(1, 101)] # dados de treinamento
#grad: lambda xs: neural(tc, xs)
#lr: 0.01
#i: 0
#err: 9999
p = descentV(lambda xs: print(xs) or neural(train, xs), 0.001, 0, 9999, [w1, w2, b1, b2])
fp = p[0]

Valores iniciais de xts: [5.45110104611219, 7.53443842293588, -2.5061143888074326, -1.5781412857911643]
[5.45110104611219, 7.53443842293588, -2.5061143888074326, -1.5781412857911643]

In [147]:
fp

[5.451101418784732,
 7.534439335274011,
 -2.5061145555049893,
 -1.5781412704365225]

In [164]:
print("Descent")
print(p)
print("1 - Possui casa própria e 0 - Não possui casa própria")
for i in test.index:
  x = test['Home Ownership'][i]
  y = test['Credit Score'][i]
  print(f"Home ownership? {x}")
  print(f"Predict: {predict(x, fp)}")
  print(f"Real: {y}")

Descent
([16.52821731729676, 18.878796758599876, -2.272450472581338, -6.634705099322141], 292)
1 - Possui casa própria e 0 - Não possui casa própria
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 0
Predict: 0.007608507333073373
Real: 0
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 0
Predict: 0.007608507333073373
Real: 0
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 0
Predict: 0.007608507333073373
Real: 0
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 0
Predict: 0.007608507333073373
Real: 0
Home ownership? 1
Predict: 0.9999951864914781
Real: 1
Home ownership? 1
Predict: 0.9999951864914781
Real: 1